<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/stylesheets/sure.css" />
  </head>
  <body>
    <img
      class="cloud-left"
      src="https://notbigmuzzy.github.io/codepen/example3/img/cloud-left.png"
    /><img
      class="cloud-right"
      src="https://notbigmuzzy.github.io/codepen/example3/img/cloud-right.png"
    /><img
      class="cloud-right2"
      src="https://notbigmuzzy.github.io/codepen/example3/img/cloud-left.png"
    />
    <div id="clouds">
      <div class="cloud cld1"></div>
      <div class="cloud cld2"></div>
      <div class="cloud cld3"></div>
      <div class="cloud cld4"></div>
      <div class="cloud cld5"></div>
      <div class="cloud cld6"></div>
    </div>
    <div class="main">
      <h1>TRAVEL WITH RODHAK.</h1>
    </div>
    <div class="planet spin1">
      <img
        class="buildings ajfel"
        src="https://notbigmuzzy.github.io/codepen/example3/img/ajfel.png"
      /><img
        class="amer"
        src="https://notbigmuzzy.github.io/codepen/example3/img/amer.png"
      /><img
        class="buildings wash"
        src="https://notbigmuzzy.github.io/codepen/example3/img/wash.png"
      /><img
        class="buildings rus"
        src="https://notbigmuzzy.github.io/codepen/example3/img/rus.png"
      /><img
        class="buildings build"
        src="https://notbigmuzzy.github.io/codepen/example3/img/build.png"
      /><img
        class="buildings prus"
        src="https://notbigmuzzy.github.io/codepen/example3/img/prus.png"
      /><img
        class="buildings germ"
        src="https://notbigmuzzy.github.io/codepen/example3/img/germ.png"
      /><img
        class="buildings crkv"
        src="https://notbigmuzzy.github.io/codepen/example3/img/crkv.png"
      /><img
        class="buildings krist"
        src="https://notbigmuzzy.github.io/codepen/example3/img/krist.png"
      /><img
        class="buildings piramid"
        src="https://notbigmuzzy.github.io/codepen/example3/img/piramid.png"
      /><img
        class="buildings arab"
        src="https://notbigmuzzy.github.io/codepen/example3/img/arab.png"
      /><img
        class="buildings relg"
        src="https://notbigmuzzy.github.io/codepen/example3/img/relg.png"
      /><img
        class="buildings pope"
        src="https://notbigmuzzy.github.io/codepen/example3/img/pope.png"
      /><img
        class="buildings bigben"
        src="https://notbigmuzzy.github.io/codepen/example3/img/bigben.png"
      /><img
        class="buildings bridge"
        src="https://notbigmuzzy.github.io/codepen/example3/img/bridge.png"
      /><img
        class="buildings germ2"
        src="https://notbigmuzzy.github.io/codepen/example3/img/germ2.png"
      /><img
        class="buildings rom"
        src="https://notbigmuzzy.github.io/codepen/example3/img/rom.png"
      /><img
        class="buildings chrch"
        src="https://notbigmuzzy.github.io/codepen/example3/img/chrch.png"
      /><img
        class="piza"
        src="https://notbigmuzzy.github.io/codepen/example3/img/piza.png"
      />
      <div class="planet-surface">
        <div class="surface2"></div>
        <div class="surface3"></div>
        <div class="surface4"></div>
        <div class="surface5"></div>
        <div class="surface6"></div>
      </div>
    </div>
    <div class="bus">
      <div class="bus-up">
        <div class="bus-window bus-window-topleft bus-window-width"></div>
        <div class="bus-window bus-window-width"></div>
        <div class="bus-window bus-window-width"></div>
        <div class="bus-window bus-window-width"></div>
        <div class="bus-window bus-window-topright bus-window-width"></div>
        <hr />
      </div>
      <div class="bus-middle">
        <div class="bus-window bus-window-left"></div>
        <div class="bus-window"></div>
        <div class="bus-window"></div>
        <div class="bus-window bus-window-right"></div>
        <div class="bus-door"></div>
        <hr />
      </div>
      <div class="bus-down">
        <div class="tire-left tire-anim">
          <div class="tire-middle"></div>
        </div>
        <div class="tire-right tire-anim">
          <div class="tire-middle"></div>
        </div>
      </div>
    </div>
    <div class="mouse-sign">
      <span1>SCR </span1>
      <span1>OLL</span1>
      <div class="mouse">
        <div class="wheel">
          <div class="mouse-margin">
            <span class="unu"></span><span class="doi"></span
            ><span class="trei"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <form id="contact" action="/api/v1/driver/map/<%=id%>" method="post">
        <h3>Confirm Trip</h3>
        <h4>
          if error, please start trip <a href="/api/v1/driver/main">again</a>
        </h4>
        <fieldset>
          <input
            value="<%=location1%> , coordinates: <%=start%>"
            type="text"
            tabindex="1"
            required
            autofocus
            readonly
          />
        </fieldset>
        <fieldset>
          <input
            value="<%=location2%> , coordinates: <%=ending%>"
            type="text"
            tabindex="2"
            required
            readonly
          />
        </fieldset>
        <fieldset>
          <input
            value="Vehicle:- <%=veh%> "
            type="text"
            tabindex="3"
            required
            readonly
          />
        </fieldset>
        <fieldset>
          <input
            value="Type of Vehicle :<%=type%> "
            type="text"
            name="type"
            tabindex="2"
            required
            readonly
          />
        </fieldset>

        <fieldset>
          <button
            name="submit"
            type="submit"
            id="contact-submit"
            data-submit="...Sending"
          >
            Start TRIP
          </button>
        </fieldset>
        <p class="copyright">
          Powered By.
          <a href="/" target="_blank" title="Colorlib">RODHAK.</a>
        </p>
      </form>
    </div>

    <script src="/javascripts/sure.js"></script>
  </body>
</html>
